body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
a{
    text-decoration: none;
    color: #d90a0a;
    font-size: 20px;
}
hr{
    max-width: 500px;
    min-width: 265px;
    border: 0;
    margin-bottom: 20px;
        height: 3px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(50 159 95), rgba(0, 0, 0, 0));
}

#title{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-block-start: auto;
    margin-block-end: auto;
}

#answer{
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

#board{
    min-width: 265px;
    max-width: 530px;
    height: 400px;
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 2px;
   text-align: center;

}

.newd{
    display: flex;
    width: 100%;
    height: 15%;
}

.tile{

    
    border: 2px solid lightgray;
    /* margin: 2.5px; */
    margin: 0px 2.5px 0px 2.5px;
    width: 10%;
    height: 90%;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.24);
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* .tile:hover{
    border: 2px solid darkgoldenrod;
} */
.Hover-class{
    border: 2px solid darkgoldenrod ;

}


.correct{
    background-color: #6AAA64 !important ;
    color: white;
    border-color: white;
}


.present{
    background-color: #C98458 !important ;
    color: white;
    border-color: white;
}


.absent{
    background-color: #787C7E !important ;
    color: white;
    border-color: white;
}

.keyboard-row{

    
    /* margin: 0 auto; */
    display: flex;
    
    justify-content: center;
}

.key-tile{
    /* for box  */
    border: 1px solid lightgray;
    margin: 2px;
    width: 80px;
    height: 40px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.24);
    border-radius: 4px;
    background-color: #d3d6da;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* .key-tile:hover{
    background-color: #d3d6da;
    transition: 0.2s;
}
.padded{
    background-color: #d3d6da;
} */


.enter-key-tile{
    /* for box  */
    border: 1px solid lightgray;
    margin: 2px;
    width: 80px;
    height: 40px;
    background-color: #d3d6da;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes flip-in{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(-90deg);
    }
}

@keyframes flip-out{
    from{
        transform: rotateX(-90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

.flip-in{
    animation: flip-in 150ms;
}

.flip-out{
    animation: flip-out 150ms;
}



.dialogue{
    min-width: 265px;
    max-width: 530px;
    border-radius: 30px;
    border: 2px solid;
    border-color: white;
    background-color:#cbffcb;
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    /* text-align: center; */
    padding: 0 30px 30px;
    color: #333;
    visibility: visible;
}


.close-popup{
    width: 400px;
    background-color:#6AAA64;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    /* text-align: center; */
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
}

.ppb{
    background-color: transparent;
    border: 0;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    border-radius: 25%;
    transition: all 0.2s ease-in;

}

.ppb:hover{
    opacity: 0.8;
    background-color: white;
}

#help
{
    position: absolute;
    right: 4%;
    top: 3%;
    
    border: 0;
    
    cursor: pointer;
    
    
    background-color: transparent;
    transition: all 0.2s ease-in;

}

.open-popup{
    min-width: 265px;
    max-width: 530px;
    border-radius: 30px;
    border: 2px solid;
    border-color: white;
    background-color:#cbffcb;
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    /* text-align: center; */
    padding: 0 30px 30px;
    color: #333;
    visibility: visible;
}
